<h1 class="text-3xl font-bold mb-8">Template-driven Form</h1>

<div class="whitespace-pre-wrap mb-4">
    {{ model() | json }}
    <br />
    Valid: {{ form.valid }}
</div>

<form (ngSubmit)="onSubmit(form)" #form="ngForm" class="flex flex-col gap-4">
    <div>
        <label for="name">
            Name
            <input #name="ngModel" type="text" id="name" name="name" [(ngModel)]="model().name"
                placeholder="Enter Pokémon name" autocomplete="off" appPokemonExists appForbiddenNames required />
        </label>

        @if (name.invalid && (name.touched || name.dirty)) {
            @if (name.errors?.['required']) {
                <caption>
                    Name is required.
                </caption>
            } @else if (name.errors?.['forbiddenName']) {
                <caption>
                    The name "{{ name.errors?.['forbiddenName'].value }}" is not allowed.
                </caption>
            } @else if (name.errors?.['pokemonExists']) {
                <caption>
                    A Pokémon with the name "{{ name.errors?.['pokemonExists'].value }}" already exists.
                </caption>
            }
        }
    </div>
    <div>
        <label for="weight">
            Weight (mg)
            <input #weight="ngModel" type="number" id="weight" name="weight" min="100" [(ngModel)]="model().weight" max="1000000" required
                placeholder="Enter Pokémon weight" />
        </label>
        @if (weight.invalid && (weight.touched || weight.dirty)) {
            @if (weight.errors?.['required']) {
                <caption>
                    Weight is required.
                </caption>
            } @else if (weight.errors?.['min']) {
                <caption>
                    Weight must be at least 100 mg.
                </caption>
            } @else if (weight.errors?.['max']) {
                <caption>
                    Weight cannot exceed 1,000,000 mg.
                </caption>
            }
        }
    </div>
    <div>
        <label for="height">
            Height (cm)
            <input #height="ngModel" type="number" id="height" name="height" min="10" [(ngModel)]="model().height" max="1000"
                placeholder="Enter Pokémon height" required />
        </label>
        @if (height.invalid && (height.touched || height.dirty)) {
            @if (height.errors?.['required']) {
                <caption>
                    Height is required.
                </caption>
            } @else if (height.errors?.['min']) {
                <caption>
                    Height must be at least 10 cm.
                </caption>
            } @else if (height.errors?.['max']) {
                <caption>
                    Height cannot exceed 1,000 cm.
                </caption>
            }
        }
    </div>
    <div>
        <label for="imageUrl">
            Image URL
            <input #imageUrl="ngModel" type="url" id="imageUrl" name="imageUrl" placeholder="Enter Pokémon image URL"
                pattern="https?://.+\..+" [(ngModel)]="model().imageUrl" />
        </label>
        @if (imageUrl.invalid && (imageUrl.touched || imageUrl.dirty)) {
            @if (imageUrl.errors?.['pattern']) {
                <caption>
                    Please enter a valid URL (must start with http:// or https://).
                </caption>
            }
        }
    </div>

    <button
        class="bg-purple-500 text-white border-none disabled:bg-gray-200 outline-none hover:bg-purple-400 transition-colors place-self-end px-4 py-2 font-bold rounded-md">
        Submit
    </button>
</form>